<configuration>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>/var/log/apbot.log</file>
		<append>true</append>
		<encoder>
			<Pattern>%d{HH:mm} [%thread] %-5level %logger{52} - %msg%n</Pattern>
		</encoder>
	</appender>
	<root>
		<level value="TRACE" />
		<appender-ref ref="FILE" />
	</root>
</configuration> 